<ion-header class="ion-no-border tech-header">
  <ion-toolbar class="tech-toolbar">
    <ion-title class="tech-title">{{ 'TITLE' | translate }}</ion-title>

    <ion-buttons slot="end">
      <div class="network-pill">
        <span class="status-dot" [class.online]="isOnline$ | async"></span>
        <span class="status-text">
          {{ ((isOnline$ | async) ? 'ONLINE' : 'OFFLINE') | translate }}
        </span>
      </div>

      <ion-button class="sync-action-btn" (click)="sync()" [disabled]="(isSyncing$ | async) || !(isOnline$ | async)">
        <ion-spinner name="crescent" *ngIf="isSyncing$ | async" color="light"></ion-spinner>
        <span *ngIf="!(isSyncing$ | async)" class="btn-inner">
          <ion-icon name="refresh-outline" class="sync-icon"></ion-icon>
          {{ 'SYNC' | translate }}
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="tech-content">
  <div class="centered-layout-wrapper">
    <div class="search-box-wrapper">
      <div class="search-box-container">
        <ion-icon name="search-outline" class="search-icon-left"></ion-icon>
        <input type="text" (input)="onSearch($event)" [placeholder]="'SEARCH_PLACEHOLDER' | translate"
          class="search-input" />
        <ion-icon name="funnel-outline" class="filter-icon-right"></ion-icon>
      </div>
    </div>

    <ion-list class="inspections-list-wrapper" lines="none">
      <ion-item *ngFor="let item of (inspections$ | async)" [routerLink]="['/inspections', item.id]">
        <app-inspection-card [item]="item" style="width: 100%;"></app-inspection-card>
      </ion-item>
    </ion-list>
  </div>
</ion-content>